* {
  /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-attachment: fixed;
  /*font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
  font-family: 'Roboto', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

body * {
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.6875rem;
  font-weight: 400; }

h1,
.h1 {
  font-size: 2rem; }

h2,
.h2 {
  font-size: 1.5625rem; }

h3,
.h3 {
  font-size: 1.25rem; }

h4,
.h4 {
  font-size: 1rem; }

h5,
.h5 {
  font-size: 0.8125; }

p {
  margin-bottom: 1.3rem;
  line-height: 1.6875rem; }

ul, li {
  list-style: none;
}

#app-bar {
  height: auto;
  background-color: #3747C3;
  color: #fff;
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  box-shadow: 0 -4px 20px rgba(0,0,0,.8);
}

#app-bar * {
  position: relative;
  display: inline-block;
}

#app-bar > .title-container {

}

#app-bar > .title-container > i {
  top: 7px;
  padding-left: 1rem;
}

#app-bar > .title-container > #title {
  padding: 1rem 1rem;
}

#app-bar > .tabs-container {
  float: right;
  padding: 1rem 1rem;
  padding-bottom: 0;
}

#app-bar > .tabs-container > #tabs {
  list-style: none;
}

#app-bar > .tabs-container > #tabs > li {
  color: #D7D7D7;
  margin-right: 1rem;
  padding-bottom: 13px;
}
#app-bar > .tabs-container > #tabs > li:last-child {
  padding-right: 0;
}
#app-bar > .tabs-container > #tabs > li.selected {
  color: #fff;
  border-bottom: 3px solid #fff;
}
#app-bar > .tabs-container > #tabs > li:active {
  background-color: transparent;
  outline: 0;
}

#content {
  position: relative;
}

#content > *[display] {
  display: none;
}
#content > *[display].selected {
  display: block;
}

#content > *[display].listing {

}

#content > *[display].listing > .top {
  padding: 1rem;
  font-size: 12px;
  color: #606060;
  background-color: #f7f7f7;
  margin-bottom: 1px;
}

#content > *[display].listing > .list {

}

#content > *[display].listing > .list > li {
  /*border-left: 3px solid #EC3E17;*/
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 1px;
  background-color: #fff;
  transition: background-color 150ms ease-in-out;
}

#content > *[display].listing > .list > li:active {
  background-color: #e4e4e4;
}

#content > *[display].listing > .list > li > div {
  /*padding: 1rem;*/
  padding-bottom: 1rem;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #efefef;
}

#content > *[display].listing > .list > li > div .left {
  width: 50%;
  float: left;
}
#content > *[display].listing > .list > li > div .right {
  width: 50%;
  float: left;
  padding-right: 1rem;
}

#content > *[display].listing > .list > li > div .name {
  font-weight: 700;
  padding-bottom: 4px;
}

#content > *[display].listing > .list > li > div .description {
  font-size: 12px;
  color: #606060;
}

#content > *[display].listing > .list > li > div .status {
  font-size: 12px;
  color: #606060;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 4px;
  text-align: end;
}

#content > *[display].listing > .list > li > div .time {
  font-size: 12px;
  color: #606060;
  text-align: end;
}